* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: verdana, arial, droid;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px blue dashed;
}

:root {
    --control-color: #666;
    --control-border-color: #bbb;
    --control-background-color: #eee;
    --control-background-color-hover: #ccc
}

/* content ****************************************************/

/* default element styling */
.element-default {
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    white-space: pre-line;
    text-align: center;
}

/* admin ******************************************************/

.admin {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 300px;
}

.admin-block {
    border: 1px var(--control-border-color) solid;
    border-radius: 4px;
    margin-bottom: 8px;
}

.admin-block-header {
    font-weight: bold;
    padding: 4px 8px;
    text-align: center;
    border-bottom: 1px gray solid;
}
.admin-block-content {
    padding: 8px;
}

.admin-control-icon-button {
    color: var(--control-color);
    font-size: 24px;
    padding: 4px;
    border-radius: 4px;
    border: 1px var(--control-border-color) solid;
    background-color: var(--control-background-color);
    transition: background-color 0.3s;
    cursor: pointer;
    min-width: 34px;
}
.admin-control-icon-button:hover {
    background-color: var(--control-background-color-hover);
}

.admin-block-control-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
}
.admin-block-control-group:not(:last-child) {
    margin-bottom: 8px;
}


.admin-block-control-group > label {
    flex: 0 0 60%;
}

.admin-block-control-group > input,
.admin-block-control-group > select {
    align-self: stretch;
}

.admin-block-control-group > *:not(:last-child) {
    margin-right: 4px;
}


.admin input[type="text"],
.admin input[type="number"],
.admin textarea,
.admin select {
    font-size: 100%;
    padding: 4px 2px;
}

.admin input:focus,
.admin textarea:focus,
.admin select:focus {
    box-shadow: 0 0 2px 2px rgb(0, 153, 255);
    background-color: white;
    outline: none;
    border: 1px var(--control-color) solid;
}

.admin-block-control-group > input[type="checkbox"] {
    width: 16px;
    height: 16px;
    align-self: center;
}

.admin-block-control-group > input[type="text"],
.admin-block-control-group > input[type="number"] {
    width: 100%;
}
.admin-block-control-group > textarea {
    width: 100%;
    height: 4em;
    padding: 4px;
    resize: vertical;
}

.admin-block-control-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}
.admin-block-control-group-vertical > label {
    margin-bottom: 4px;
}

