* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: verdana, arial, droid;
}

.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

:root {
    --control-color: #666;
    --control-text-color: #444;
    --control-border-color: #bbb;
    --control-background-color: #eee;
    --control-background-color-hover: #ccc
}

/* content ****************************************************/

/* default element styling */
.element-default {
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    white-space: pre-line;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.element .element-sound-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    /* width: 16px; */
    /* height: 16px; */
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255);
    opacity: 0.5;
}

/* mode *******************************************************/
.mode-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px;
    opacity: 0.32;
    transition: opacity 0.3s;
}
.mode-controls:hover {
    opacity: 1;
}
.mode-controls .mode-control-button {
    height: 32px;
    width: 32px;
}
html[mode-edit="off"] .admin {
    display: none;
}
html[mode-edit="off"] .mode-control-button[data-js-action="mode-set-play"] {
    display: none;
}
html[mode-edit="on"] .mode-control-button[data-js-action="mode-set-edit"] {
    display: none;
}

.audio-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* background-color: rgba(0, 0, 0, 0.12); */
    display: none;
}
/* admin ******************************************************/

.admin {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    padding: 8px;
}

.admin-block {
    border: 1px var(--control-border-color) solid;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: white;
    user-select: none;
}

.admin-block-header {
    position: relative;
    font-weight: bold;
    padding: 4px 8px;
    text-align: center;
    border-bottom: 1px gray solid;
}

.admin-block-header:after {
    content: '\f078';
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    font-size: 14px;
    color: var(--control-border-color);

    position: absolute;;
    display: block;
    top: 0;
    right: 0;
    height: 0;
    padding: 6px 4px;

}

.admin-block-collapsed .admin-block-header:after {
    content: '\f077';
}

.admin-block-collapsed .admin-block-content {
    display: none;
}

.admin-block-content {
    padding: 8px;
}

.admin-control-icon-button {
    color: var(--control-color);
    font-size: 24px;
    padding: 4px;
    border-radius: 4px;
    border: 1px var(--control-border-color) solid;
    background-color: var(--control-background-color);
    transition: background-color 0.3s;
    cursor: pointer;
    min-width: 34px;
}
.admin-control-icon-button:hover,
.file-input-customizer:hover .admin-control-icon-button {
    background-color: var(--control-background-color-hover);
}

.admin-block-control-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.file-input-customizer {
    position: relative;
}

html .file-input-customizer > label {
    display: block;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding: 4px;
    border: 1px var(--control-border-color) solid;
    border-radius: 4px;
    color: var(--control-text-color);
}

.file-input-customizer > form,
.file-input-customizer input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.file-input-for-import .admin-control-icon-button {
    cursor: pointer;
    margin: -5px;
}

.admin-block-control-group:not(:last-child) {
    margin-bottom: 8px;
}

.admin-block-control-group > label {
    flex: 0 0 60%;
}

.admin-block-control-group > input,
.admin-block-control-group > select {
    align-self: stretch;
}

.admin-block-control-group > *:not(:last-child) {
    margin-right: 4px;
}


.admin input[type="text"],
.admin input[type="number"],
.admin input[type="file"],
.admin textarea,
.admin select {
    font-size: 100%;
    padding: 4px 2px;
    border: 1px var(--control-border-color) solid;
    border-radius: 4px;
    background-color: white;
    width: 100%;
}


.admin input:focus,
.admin textarea:focus,
.admin select:focus {
    box-shadow: 0 0 2px 2px rgb(0, 153, 255);
    outline: none;
}

.admin-block-control-group > input[type="checkbox"] {
    width: 16px;
    height: 16px;
    align-self: center;
}

.admin-block-control-group > input[type="text"],
.admin-block-control-group > input[type="number"] {
    width: 100%;
}
.admin-block-control-group > textarea {
    width: 100%;
    height: 4em;
    padding: 4px;
    resize: vertical;
}

.admin-block-control-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.admin-block-control-group-vertical > label {
    margin-bottom: 4px;
}

.start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
}

html[mode-start="off"] .start-screen {
    display: none;
}

.start-menu {
    width: 320px;
}

.start-menu .start-menu-item {
    cursor: pointer;
    user-select: none;
    border: 1px var(--control-border-color) solid;
    border-radius: 8px;
    padding: 32px 16px;
    margin: 16px 0;
    font-size: 32px;
    text-align: center;
    color: var(--control-text-color);
}

.start-menu-item-hoverable {
    border-radius: 8px;
    background-color: white;
    transition: 0.3s background-color;
}

.start-menu-item-hoverable:hover {
    background-color: var(--control-background-color-hover);
}